@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
body {
  overflow-x: hidden;
}

.mapa-iframe {
  width: 100%;
}

.radius {
  border-radius: 30px;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  list-style-type: none;
}

:root {
  --clippy: polygon(0 0, 0 0, 0 100%, 0% 100%);
}

main .texts {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: black;
  font-family: "Poppins";
}
main .lista-mate ul {
  list-style-type: square;
  margin: 10px;
  padding: 10px;
}
main .banner .p-banner {
  display: flex;
  justify-content: center;
  color: rgb(0, 0, 0);
  margin: 20px;
  font-size: 1.7rem;
  align-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.item {
  position: relative;
  padding-left: 1rem;
}

.item::before {
  content: "";
  display: block;
  background: slateblue;
  width: 120%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  -webkit-clip-path: var(--clippy);
          clip-path: var(--clippy);
  transition: -webkit-clip-path 2s;
  transition: clip-path 2s;
  transition: clip-path 2s, -webkit-clip-path 2s;
}

.paragraph::before {
  background: salmon;
}

.item:hover::before {
  -webkit-clip-path: polygon(0 0, 81% 0, 100% 100%, 0 100%);
          clip-path: polygon(0 0, 81% 0, 100% 100%, 0 100%);
}

.lista-mate {
  list-style-type: square;
  margin: 10px;
  padding: 10px;
}

.lista-mate li {
  list-style-type: square;
  margin: 10px;
  padding: 10px;
  border: 70px;
  color: rgb(10, 10, 10);
  font-size: medium;
  font-family: fantasy;
  text-decoration: underline;
}

.tarjetita_boton {
  min-width: 130px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  border: 2px solid #212529;
  background: #212529;
}
.tarjetita_boton:hover {
  background: #fff;
  color: #212529;
}

.button_catalogo {
  min-width: 130px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  border: 2px solid #212529;
  background: #212529;
}
.button_catalogo:hover {
  background: #fff;
  color: #212529;
}
.button_catalogo a {
  text-decoration: none;
  color: white;
}
.button_catalogo a:hover {
  color: black;
}

.card-group {
  margin-bottom: 60px;
}
.card-group .card-text {
  color: black;
}

.card:hover {
  transform: scale(1);
  box-shadow: 10px 5px 10px black;
  transition: all 1s;
}

.texts {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: black;
  font-family: "Poppins";
}

.name {
  font-size: 3rem;
  margin-bottom: 0.5rem;
  font-family: "Poppins";
}

.paragraph {
  font-size: 2rem;
  font-weight: 300;
  color: rgb(5, 5, 5);
  font-family: "Poppins";
}

@media screen and (max-width: 900px) {
  .card-group {
    gap: 0;
  }
  .card-group .card {
    width: 100%;
    padding: 0;
  }
}
.sobre-nosotros li {
  border: 10px;
  color: rgb(255, 255, 255);
  padding: 10px;
  margin: 0px;
  background-image: url(/imagenes/Fondo_QuienesSomos.jpg);
  background-position: center;
  background-repeat: none;
  background-attachment: fixed;
  background-size: cover;
  text-align: center;
}

.quienes-somos-imagen {
  width: 100%;
}

.img_container_galeria {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5vw;
}
.img_container_galeria div {
  width: 280px;
  margin-top: 100px;
}
.img_container_galeria div img {
  width: 100%;
}
.img_container_galeria div img:hover {
  transform: scale(1.1);
  box-shadow: 10px 5px 10px black;
  transition: all 1s;
}

.segmentos-container ul {
  display: flex;
  justify-content: space-around;
}
.segmentos-container ul li {
  border-left: 1px solid;
  border-right: 1px solid;
  width: 300px;
  margin-top: 20px;
  text-align: center;
}
.segmentos-container ul li a {
  text-decoration: none;
  color: black;
  font-size: large;
}

/* registro */
.footer-color-registro {
  padding: 40px;
  margin: -5px;
  background-color: beige;
}

.parrafo_form p {
  color: rgb(0, 0, 0);
}

.Registro_form {
  width: 500px;
  background: linear-gradient(rgb(206, 206, 206), rgb(81, 197, 218), rgb(206, 206, 206));
  padding: 30px;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 100px;
  border-radius: 4px;
  font-family: "Poppins";
}

.Registro_form h4 {
  font-size: 22px;
  margin-bottom: 20px;
}

.Registro_form p {
  height: 20px;
  text-align: center;
  font-size: 18px;
}

.controles {
  width: 100%;
  background-color: #f3f4f5;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid black;
  font-family: "Poppins";
  font-size: 14px;
}

.parrafo_form a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  text-align: center;
}

.boton-crear-cuenta-2 a {
  width: 100%;
  text-decoration: none;
  color: white;
  text-align: center;
  background: lightcoral;
  border: none;
  border-radius: 14px;
  padding: 7px;
  font-size: 24px;
}

.boton-crear-cuenta-2 {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

@media screen and (max-width: 900px) {
  .Registro_form {
    width: 100%;
  }
}/*# sourceMappingURL=estilo.css.map */