.sobre-nosotros li{
    border: 10px;
    color: rgb(255, 255, 255);
    padding: 10px;
    margin: 0px;
    background-image: url(/imagenes/Fondo_QuienesSomos.jpg);
    background-position: center;
    background-repeat: none;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
    
}

.quienes-somos-imagen{
    width: 100%;
}


