.Titulo-Destacados{
    @extend .radius
    
}

.Destacados-texto{

    display: flex;
    display: flex;
    text-align: center;
    align-items: center;
}

.tarjetitas-container {
    display: flex;
    gap: 200px;
    padding: 10px;
    justify-content: center;
    flex-wrap: wrap;

    .tarjetita {

        width: 350px;
        @include caja_destacadas;
        display: flex;
        flex-direction: column;
        justify-content: center;
        

        .informacion {
            padding : 0 20px 20px 20px ;
            display: flex;
            flex-direction: column;
            align-items: center;
            
        }
                              
        .tarjetita_imagen {
            max-width: 100%;
            
        }
        
    }
}

@media screen and (max-width: 900px) {
    .tarjetita{
        width: 300px;

    }

    .informacion{
        padding: 0;
    }
}